<b>Application Menu</b>
<br/><br/>
<a href=<%= sale_records_path %>>Upload a data file</a>
<br/><br/>
Other links:
<br/><a href=<%= merchants_path %>>merchants</a>
<br/><a href=<%= items_path %>>items</a>
<br/><a href=<%= sales_path %>>sales</a>

